<div class = "container">
    <h3>Edit Address
        <mat-button class = close mat-dialog-close>X</mat-button>
    </h3>

        <form [formGroup] = "addressForm" (submit) = "onSubmit()">
            <label>
                Street Address
            <input type="text" formControlName = "firstLine">
            </label>

            <label>
                Apartment/Suite
            <input type="text" formControlName = "secondLine">
            </label>


            <label>
                City
            <input type="text" formControlName = "city">
            </label>

            <div class = line>     
                    <label class = "state">
                        State
                    <input type="text" formControlName = "state">
                    </label>
        
                    <label class = "zipcode">
                        Zipcode
                    <input type="text" formControlName = "zipcode">
                    </label>
            </div>
         </form>
    
    <button id=save (click) = "onSubmit()" type = "submit"  mat-dialog-close>Save<button>