<!-- <div class="container"> -->
  <div class="title-container">
    <h2 id="titlelink"><link rel="preconnect" href="https://fonts.gstatic.com">

      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">Welcome to Zip Bank  <br>
      <!-- <img class="image-container" [src]="myimage" alt=""> -->
      <div>
      </div></h2>
    </div>
    <div class="login-container">
    <div id="UserNPassLink"><link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">Username:</div>
    <label>
      <input class="input-container" type="text" name="username" [(ngModel)]="username">
    </label>
    <div id="UserNPassLink">Password:</div>
    <label>
      <input class="input-container" type="password" name="password" [(ngModel)]="password">
    </label>
    <div>
      <button class="btn btn-success mr-2 mb-2" (click)= handleAuth() (click)="passToken()">Login</button>
      <button class="btn btn-success mr-2 mb-2" [routerLink]="['/openaccount']">Create Account</button>
      </div>
        <div class="alert" *ngIf="invalidLogin">{{invalidLoginMessage}}</div>
  </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-8">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                <!-- <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li> -->
                <!-- <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li> -->
              </ol>
              <div class="carousel-inner">
                  <img src="../assets/Images2/young-people.jpg" class="d-block w-100 slider-image" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="subtitle"><link rel="preconnect" href="https://fonts.gstatic.com">
                      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">Laugh more, save more, trust Zip Bank</h5>
                    <p class="title"><link rel="preconnect" href="https://fonts.gstatic.com">
                      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">Zip Bank allows you to enjoy life more, knowing that your money is safe!</p>
                      <div class="carousel-item active">
                  </div>
                  
                  
                </div>
            </div>

            <blockquote class="text" cite="http://www.inspireux.com/category/quotes/jesse-james-garrett/">
              <p><link rel="preconnect" href="https://fonts.gstatic.com">
                <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">Amongst all banking/money managment apps, Zip Bank has been rated #1 app on the market!</p>
              <footer><link rel="preconnect" href="https://fonts.gstatic.com">
                <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">– Apple App Store</footer>
            </blockquote>
          </div>
        </div>
      </div>

    </div>

    

    




   




<!--<div class="login-wrapper">-->

<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <main class="form-signin">-->
<!--        <form>-->
<!--          <h1 class="h3 mb-3 fw-normal">Welcome to Zip Bank</h1>-->

<!--          <label for="username" class="visually-hidden"></label>-->
<!--          <input type="username" id="username" name="username" class="form-control" placeholder="Username" (keyup)="onKey($event, 'username')" required autofocus ngModel>-->
<!--          <p *ngIf="!isUsernameValid">Error! Username can consist of numbers and letters only!</p>-->

<!--          <label for="password" class="visually-hidden"></label>-->
<!--          <input type="password" id="password" name="password" class="form-control" placeholder="Password" (keyup)="onKey($event, 'password')" required ngModel>-->

<!--          <div class="checkbox mb-3">-->
<!--            <label>-->
<!--              <input type="checkbox" value="remember-me"> Remember me-->
<!--            </label>-->
<!--          </div>-->
<!--          <div>-->
<!--            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">-->
<!--              Forgot Password-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="btn-toolbar">-->
<!--          <button class="btn btn-sm btn-primary mr-2 mb-2" type="submit" (click)="onSubmit()">Sign in</button>-->
<!--          <button class="btn btn-sm btn-primary mr-2 mb-2" type="submit" (click)="onSubmit()">Create Account</button>-->
<!--            </div>-->
<!--        </form>-->
<!--      </main>-->
<!--      <div *ngIf="error" class="notification bg-indigo-900 text-center py-4 lg:px-4">-->
<!--        <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">-->
<!--          <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">ERROR</span>-->
<!--          <span class="font-semibold mr-2 text-left flex-auto">{{error}}</span>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->


<!--</div>-->
