<div class="login-wrapper" xmlns="http://www.w3.org/1999/html">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div>
        <nav class="navbar-brand"> ZipBank</nav>
      </div>
      <ul class="navbar-nav">
        <li><a *ngIf="true" routerLink="/myaccount/profile" class="nav-link">My Profile</a></li>
        <li><a *ngIf="true" (click)="openDeposit()" class="nav-link">Deposit</a></li>
        <li><a *ngIf="true" routerLink="/myaccount/profile" class="nav-link">Withdraw</a></li>
        <li><a *ngIf="true" routerLink="/myaccount/profile" class="nav-link">Transfer</a></li>
        <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>

      </ul>
    </nav>
    <h1 class="title">
      <div>Account Page</div>
    </h1>
  </header>
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th class="account-number"> Account Number: {{account.accountNumber}}</th>
          <th class="account-balance"> Account Balance: {{account.balance}} </th>
        </tr>
        </thead>
      </table>
    </div>
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th> Transaction History</th>
      </tr>
      </thead>
      <tbody>
      <div class="container">
        <app-transaction-history></app-transaction-history>
      </div>
      </tbody>
    </table>
  </div>

</div>








