html{
  background-color: white;
}
h1{
  background-color: rgb(14, 107, 136);
  display:flex;
}
.title{
  color: white;
  text-align: center;
}
.container{
  position: relative;
  min-height: 100vh;
}


.transaction-history{
  background-color: white;
}

.transaction{
  background-color: white;
}

form{
  text-align: center;
}
.row{
  display: flex;
  background-color:rgb(245, 239, 239);
}

.col1{
  flex: 30%;
  font-size: larger;
}

.col2{
  flex: 50%;
}

.col3{
  flex: 20%;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;


}
