<div class="login-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="#">Deposit</a>
      <a href="#">Withdraw</a>
      <a href="#">Transfer</a>
      <a href="#">User Profile</a>
      <a href="#">Account Overview</a>
    </div>
    <div class="card">
      <div class="card-body">
        <main class="account-fields">
          <h1 class="Account">(insert account type here)</h1>
          <div class="account-number">Account Number</div>
          <div class="account-balance">Account Balance</div>
          <div class="transaction-history">Transaction History</div>
        </main>
        <div class="card-body">
          <div class="transaction-type">Transaction Type</div>
          <form>
            <label for="from-routing-number">From:</label><br>
            <input type="text" id="from-routing-number" name="from-routing-number"><br>
          </form>
          <form>
            <label for="to-routing-number">To:</label><br>
            <input type="text" id="to-routing-number" name="to-routing-number"><br>
          </form>
          <form>
            <label for="amount">Amount:</label><br>
            <input type="text" id="amount" name="amount"><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

