<div class="container">
<h1>Hello</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Transaction Description</th>
        <th>Transaction Amount</th>
        <th>Transaction Balance</th>
        <th>Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hist of history">
        <td>{{hist.transactionDescription}}</td>
        <td>{{hist.transactionAmount | currency}}</td>
        <td>{{hist.transactionBalance | currency}}</td>
        <td>{{hist.transactionDate | date | uppercase}}</td>
      </tr>
    </tbody>
  </table>

</div>
