#header{
    width: 100%;
    font-size: large;
    text-align: center;
}

.table{
    width: 100%;
}

#title{
    height: 50px;
}

tr{
    display: flex;
    
}

.col1{
    width: 30%;
}

.col2{
    width: 20%;
    text-align: right;
}

.col3{
    width: 20%;
    text-align: right;
}

.col4{
    width: 20%;
    text-align: right;
}
