
h1{
  color: white;
  /* background-color: cadetblue; */
  background-color: rgb(52, 58, 64);
  border: 5px solid cadetblue ;
  line-height: 100px;
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  text-align: center;
  width: 100%;
  position: relative;
}

.btn-warning {
  background-color: cadetblue;
  border: darkcyan;
}

ul{
  width: 100%;
  position: relative;
  padding: 0;
}

.title{
  color: white;
  text-align: center;
  margin: 0 auto;
}

.container{
  margin-top: 0px;
  display:flex;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  align-content: center;
}

.row{
  padding:10px;
  margin:10px;
  height: 150px;
  width: 97%;
  display: flex;
  align-items: center;
  background-color:rgb(245, 239, 239);
}

.col1{
  flex: 25%;
  font-size: larger;
  padding-left: 20px;
}

.col2{
  flex: 50%;
  text-align: center;
}

.col3{
  flex: 25%;
  align-content: right;
  text-align: right;
  padding-right: 20px;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  
}
