<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><nav class="navbar-brand"> ZipBank</nav></div>

    <ul class="navbar-nav">
      <!-- <li><a *ngIf="true" routerLink="/myaccount/profile/delete" class="nav-link">Delete Profile</a></li> -->
      <li><a *ngIf="true" routerLink="/myaccount" class="nav-link">My Accounts</a></li>
      <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
      <!-- <li><a *ngIf="router.url === '/myaccount'" class="pageTitle">My Accounts</a></li>
      <li><a *ngIf="isHomeRoute()">My Accounts</a></li> -->
      <!--      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/profile" class="nav-link">Profile</a></li>-->
    </ul>

    <!--    <ul class="navbar-nav navbar-collapse justify-content-end">-->
    <!--      <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>-->
    <!--      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>-->
    <!--    </ul>-->
  </nav>

<h1>
  <div class = "title"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    My Profile
  </div>
</h1>
</header>

<div class = container>
    <ul style="list-style-type:none;">
        <div class = row>
            <div class = col1>
              <i class="fa fa-envelope-o"></i>  Address
            </div>
            <div class = col2>
                <li>{{profiles.address.firstLine}}</li>
                <li>{{profiles.address.secondLine}}</li>
                <li>{{profiles.address.city}}, {{profiles.address.state}} {{profiles.address.zipcode}}</li>
            </div>
            <div class = col3>
                <button class = "btn btn-warning" (click) = "editAddress()">Edit</button>
            </div>
        </div>
        <div class = row>
            <div class = col1>
           @ Email
            </div>
            <div class = col2>
                {{profiles.email}}
            </div>
            <div class = col3>
                <button class = "btn btn-warning" (click) = "editEmail()">Edit</button>
            </div>
        </div>
        <div class = row>
            <div class = col1>
              <i class="fa fa-phone"></i>
                Phone
            </div>
            <div class = col2>
                {{moddedPhone}}
            </div>
            <div class = col3>
                <button class = "btn btn-warning" (click) = "editPhone()">Edit</button>
            </div>
        </div>
    </ul>
</div>
