
h1{
  color: white;
  /* background-color: cadetblue; */
  background-color: rgb(52, 58, 64);
  border: 5px solid cadetblue ;
  line-height: 100px;
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  text-align: center;
  width: 100%;
  position: relative;
}

.btn-warning {
  background-color: cadetblue;
  border: darkcyan;
}

ul{
  width: 100%
}
.title{
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
}

.container{
  position: relative;
  min-height: 100vh;
  display: block;
}
.row{
  padding:20px;
  margin:10px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color:rgb(245, 239, 239);
}
tr{
  border-bottom: solid;
  border-width: 0.1em;
  border-color: rgb(230, 228, 228);
}

.col1{
  flex: 30%;
  font-size: larger;
}

.col2{
  flex: 50%;
}

.col3{
  flex: 20%;
}

#createAccountBtn{
  display: flex;
  margin: 0 auto;
}
#outerBtnDiv{
  width: 100%;
  display: flex;
  margin-top: 25px;
}
#innerBtnDiv{
  margin: 0 auto;

}

.table{
  margin-bottom: 0;
}


