
h1{
  background-color: cadetblue ;
  margin-top: 0px;
  height: 50px;
  display:flex;
  align-items: center;

  border: 3px solid lightblue;
  position: relative;

}

ul{
  width: 100%
}

.title{
  color: white;
  text-align: center;
  margin: 0 auto;
}

.container{
  margin-top: 0px;
  display:flex;
}

.row{
  padding:20px;
  margin:10px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color:rgb(245, 239, 239);
}

tr{
  border-bottom: solid;
  border-width: 0.1em;
  border-color: rgb(230, 228, 228);
}

.col1{
  flex: 30%;
  font-size: larger;
}

.col2{
  flex: 50%;
}

.col3{
  flex: 20%;
}


.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
}
#createAccountBtn{
  display: flex;
  margin: 0 auto;
}

#innerBtnDiv{
  display: inline;
  margin: 0 auto;
}

.table{
  margin-bottom: 0;
}

