<h2> Accounts </h2>
<!--<img src="/../images/logo.jpeg" alt="ZipBank">-->
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-transparent">

    <div class="container">

      <button (click)="getAllAccounts()" class="btn btn-success">Press</button>
    </div>
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <th> Account Number </th>
          <th> Routing Number </th>
          <th> Account Type </th>
          <th> Account Balance </th>
          <th> Date Of opening </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let account of accounts">
          <td>{{account.accountNumber}}</td>
          <td>{{account.routingNumber}}</td>
          <td>{{account.accountType}}</td>
          <td>{{account.balance}}</td>
          <td>{{account.dateOfOpening | date | uppercase}}</td>
<!--          <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>-->
<!--          <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </nav>
</header>

