<h2> Accounts </h2>
<img src="images/logo.jpg" alt="ZipBank">
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <div class="container">

      <table class="table">
        <thead>
        <tr>
          <th> Account Number </th>
          <th> Routing Number </th>
          <th> Account Type </th>
          <th> Account Balance </th>
          <th> Date Of Opening </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.accountNumber}}</td>
          <td>{{account.routingNumber}}</td>
          <td>{{account.accountType}}</td>
          <td>{{account.balance}}</td>
          <td>{{account.dateOfOpening | date | uppercase}}</td>
          <td><button (click)="navigateToAccount(account.encryptedUrl)" class="btn btn-warning">Load Account</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </nav>
</header>
